/* TODO: copyright, here and other css files. */

body {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 5mm;
  text-transform: uppercase;
  position: absolute;
  left: 25%;
  width: 65%;
  background-color: #FFCCFF;
}

h1 {
  font-size: 4mm;
  color: #999999;
  text-transform: lowercase;
  position: absolute;
  top: 2mm;
  left: 10%;
  width: 50%;
  padding-top: 1cm;
  padding-bottom: 1cm;
  margin-top: 0mm;
  margin-bottom: 0mm;
}

h1 span {
  padding: 1mm;
  background-color: #CC99CC;
  color: #FFCCFF;
  border-style: solid;
  border-color: #999999;
  border-width: 0.5mm;
}

div {
  padding-top: 2mm;
  padding-bottom: 2mm;
  width: 80%;
  max-width: 80%;
}

p {
  margin: 1mm;
  padding: 1mm;
  color: #666666;
  text-transform: none;
  width: 85%;
}

ul {
  list-style-type: none;
  position: absolute;
  top: 2mm;
  right: 20%;
}

li {
  font-size: 2.5mm;
  text-align: right;
  color: #666666;
  padding-top: 1mm;
  padding-bottom: 1mm;
}

a {
  text-decoration: none;
}

a:link, a:active, a:visited {
  color: #666666;
}

a:hover {
  color: #FFCCFF;
  background-color: #666666;
}

.hyphen {
  padding-left: 3mm;
  padding-right: 3mm;
}

#poetry {
  position: absolute;
  top: 4cm;
}

#line4 {
  background-color: #CC99CC;
  border-style: solid;
  border-color: #999999;
  border-width: 0.5mm;
}
