body { background-color: #400; color: #999; text-align: center; }
h1 { height: 30px; }
#stage { width: 800px; height: 600px; overflow: hidden; margin: 30px auto; border: 3px solid yellow; border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px; }
