/* Nationwide Financial Main Stylesheet */
/* last updated 10/14/2003 */
/* path to any image reference should be ../images/imageName.xxx */

/* Link Classes */
a {
	color: #0033CC;
	text-decoration: none;
}
a:hover { color: #0033CC; text-decoration: underline; }
a.gNav {text-decoration: none; color: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px; font-weight: bold;}
a.gNav:hover { color: #FFFFFF; text-decoration: none; }
a.sNav { text-decoration: none; }
a.sNav:visited { }
a.sNav:hover { color: #000033; text-decoration: underline; }
a.sNavSel { color: #003366; font: bold 10pt Arial, Verdana, sans-serif; text-decoration: none; }
a.sNavSel:visited { color: #003366; text-decoration: none; }
a.sNavSel:hover { color: #003366; text-decoration: underline; }
body { background-color: #FFFFFF; background-position: 5px 5px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: normal; }

/* Action Elements */
.actConta { border-bottom: 1px solid #003366; border-left: 1px solid #003366; border-right: 1px solid #003366; border-top: 1px #003366; margin: 2px; padding: 2px; text-decoration: none; }
.actHead { background-color: #003366; border: 1px solid #003366; color: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; margin: 2px; padding: 2px; text-decoration: none; }
.ActionHead0 { background-color: #003366; border-bottom-color: #003366; border-bottom-style: solid; border-bottom-width: 1px; border-left-color: #003366; border-left-style: solid; border-left-width: 1px; border-right-color: #FFFFFF; border-right-style: solid; border-right-width: 1px; border-top-color: #003366; border-top-style: solid; border-top-width: 1px; color: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; margin: 2px; padding: 2px; text-decoration: none; }
.ActionHead1 { background-color: #003366; border-bottom-color: #003366; border-bottom-style: solid; border-bottom-width: 1px; border-left-color: #003366; border-left-style: solid; border-left-width: 1px; border-right-color: #FFFFFF; border-right-style: solid; border-right-width: 1px; border-top-color: #003366; border-top-style: solid; border-top-width: 1px; color: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; margin: 2px; padding: 2px; text-decoration: none; }
.ActionHead2 { background-color: #003366; border-bottom-color: #003366; border-bottom-style: solid; border-bottom-width: 1px; border-left-color: #003366; border-left-style: solid; border-left-width: 1px; border-right-color: #003366; border-right-style: solid; border-right-width: 1px; border-top-color: #003366; border-top-style: solid; border-top-width: 1px; color: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; margin: 2px; padding: 2px; text-decoration: none; }
.ActionBody { background-color: #FFFFFF; border-bottom-color: #003366; border-bottom-style: solid; border-bottom-width: 1px; border-left-color: #003366; border-left-style: solid; border-left-width: 1px; border-right-color: #003366; border-right-style: solid; border-right-width: 1px; border-top-style: none; margin: 2px; padding: 2px; text-decoration: none; }
.ActionBody0 { background-color: #FFFFFF; border-bottom-color: #003366; border-bottom-style: solid; border-bottom-width: 1px; border-left-color: #003366; border-left-style: solid; border-left-width: 1px; border-right-color: #003366; border-right-style: solid; border-right-width: 1px; border-top-style: none; margin: 2px; padding: 2px; text-decoration: none; }
.ActionBody1 { background-color: #FFFFFF; border-bottom-color: #000000; border-bottom-style: solid; border-bottom-width: 1px; border-right-color: #003366; border-right-style: solid; border-right-width: 1px; border-top-style: none; margin: 2px; padding: 2px; text-decoration: none; }
.ActionBody2 { background-color: #FFFFFF; border-bottom-color: #003366; border-bottom-style: solid; border-bottom-width: 1px; border-right-color: #003366; border-right-style: solid; border-right-width: 1px; border-top-style: none; margin: 2px; padding: 2px; text-decoration: none; }
.actionBodylines { background-color: #CDCDDC; border-bottom-color: #003366;	border-bottom-style: solid; border-bottom-width: 1px;	border-left-color: #003366; border-left-style: solid;	border-left-width: 1px;	border-right-color: #003366;	border-right-style: solid;	border-right-width: 1px;	border-top-style: solid; text-decoration: none;	border-top-width: 1px;	border-top-color: #003366;}
.ActionBodyOutline { background-color: #FFFFFF;	border-bottom-color: #003366;	border-bottom-style: solid; border-bottom-width: 1px;	border-left-color: #003366; border-left-style: solid;	border-left-width: 1px;	border-right-color: #003366;	border-right-style: solid;	border-right-width: 1px;	 text-decoration: none;  border-top-color: #003366;  border-top-style: solid;  border-top-width: 1px;  	 }

.searchBody { background-color: #FFFFEC; border-bottom: 1px solid #003366; border-left: 1px solid #003366; border-right: 1px solid #003366; border-top: 1px none #003366; margin: 2px; padding: 2px; text-decoration: none; }
.searchHead { background-color: #003366; border: 1px solid #003366; color: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; margin: 2px; padding: 2px; text-decoration: none; }

/* Alert/Error Elements */
.alertBody { background-color: #FFFFFF; border-bottom: 1px solid #990000; border-left: 1px solid #990000; border-right: 1px solid #990000; color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; padding: 5px; }
.alertHead { background-color: #FFCC00; border: 1px solid #990000; color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; padding: 5px; }

/* Background Colors */
.backA { background-color: #003366; }
.backB { background-color: #CDCDDC; }
/* .odd is here for the displaytag custom jsp tags */
.odd, .backC { background-color: #EFF0F1; }
/* .even is here for the displaytag custom jsp tags */
.even, .backD { background-color: #FFFFFF; }
.backE { background-color: #FFFFEC; }

/* Central Objects */
.centobjBody { background-color: #EFF0F1; color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; }
.centobjHead { background-color: #CDCDDC; border-bottom-color: #003366; border-bottom-style: solid; border-bottom-width: 1px; color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; }

/* Form Buttons */
.fButtonNeu {background-color: #CCCCCC; color: #000000;	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 12px;	font-weight: bold; font-variant: normal; float: none;	clear: both; height: 20px;}
.fButtonPos { background-color: #FFCC00; color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; }

/* Begin Help Elements */
.HelpHead0 { background-color: #CCCCCC; border: 1px solid #CCCCCC; color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; margin: 2px; padding: 2px; text-decoration: none; }
.HelpBody0 { background-color: #FFFFFF; border: 1px solid #CCCCCC; margin: 2px; padding: 2px; text-decoration: none; }

/* Begin Instruction Elements */
.instHead { background-color: #CCCCCC; border: 1px solid #999999; color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; margin: 2px; padding: 2px; text-decoration: none; }
.instBody { background-color: #FFFFFF; border-bottom: 1px solid #999999; border-left: 1px solid #999999; border-right: 1px solid #999999; margin: 2px; padding: 2px; text-decoration: none; }

/* Standalone Menus */
.menuHead { background-color: #003366; border: 1px solid #003366; color: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; margin: 2px; padding: 2px; text-decoration: none; }
.menuBody { background-color: #FFFFFF; border: 1px solid #003366; margin: 2px; padding: 2px; text-decoration: none; }
.menuList { color: #003366; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; list-style-image:  url(../images/x_pointer.gif); list-style-position: outside; }


/* Modal Tabs for complex taskpanels */
.modalTabs { background-color: #CDCDDC; border-bottom-color: #003366; border-bottom-style: solid; border-bottom-width: 1px; border-left-color: #EFF0F1; border-left-style: solid; border-left-width: 2px; border-right-color: #003366; border-right-style: solid; border-right-width: 1px; border-top-color: #EFF0F1; border-top-style: solid; border-top-width: 2px; color: #003366; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-style: normal; font-weight: bold; text-align: center; }
.modalTabsSelect { background-color: #003366; border-bottom-color: #003366; border-bottom-style: solid; border-bottom-width: 1px; border-left-color: #006699; border-left-style: solid; border-left-width: 2px; border-right-color: #000000; border-right-style: solid; border-right-width: 1px; border-top-color: #006699; border-top-style: solid; border-top-width: 2px; color: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-style: normal; font-weight: bold; margin: 2px; padding: 2px; text-align: center; text-indent: 5px; }
.modalTabsSelect a{ color: #FFFFFF; }
.modalTabsSelect a:hover{ color: #FFFFFF; text-decoration: none;}
.modalTabsLink { color: #003366; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-style: normal; font-weight: bold; }

/* Read Elements */
.readBody { background-color: #CDCDDC; border-bottom: 1px solid #003366; border-left: 1px solid #003366; border-right: 1px solid #003366; }
.readTable { border: 1px solid #CDCDDC; }

/* Sub Level Navigation */
.sNav /* Default Sub Navigation */{ color: #003366; font: bold 8pt Verdana, Arial, Helvetica, sans-serif; }
.sNavBack /* Default SubNav */{ background-color: #CCCC99; border-bottom-color: #003366; border-bottom-style: solid; border-bottom-width: 1px; border-left-color: #FFFFCC; border-left-style: solid; border-left-width: 1px; border-right-color: #999966; border-right-style: solid; border-right-width: 1px; border-top-color: #CCCC99; border-top-style: solid; border-top-width: 1px; text-align: center; text-decoration: none; }
.sNavBackSel /* Selected SubNav */{ background-color: #FFFFFF; border-bottom-color: #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px; border-left-color: #999966; border-left-style: solid; border-left-width: 1px; border-right-color: #FFFFCC; border-right-style: solid; border-right-width: 1px; border-top-color: #CCCC99; border-top-style: solid; border-top-width: 1px; text-align: center; text-decoration: none; }
.sNavEdges /* Horizontal Sub Navigation Container*/ { background-color: #CCCC99; border-bottom-color: #000000; border-bottom-style: none; border-bottom-width: 0px; border-left-color: #003366; border-left-style: solid; border-left-width: 1px; border-right-color: #003366; border-right-style: solid; border-right-width: 1px; border-top-color: #000000; border-top-style: none; border-top-width: 0px; text-align: center; text-decoration: none; }
.sNavSel { color: #003366; font: bold 8pt Verdana, Arial, Helvetica, sans-serif; }

/* Tab Navigation */
.tabAct /* Activity Tab */{ background-color: #6699CC; background-image:  url(../images/n_ActTab.gif); background-repeat: no-repeat; border-bottom-style: none; border-bottom-width: 1px; border-left-color: #003366; border-left-style: solid; border-left-width: 1px; border-right-color: #A7CBE0; border-right-style: solid; border-right-width: 1px; border-top-style: none; border-top-width: 1px; margin: 2px 5px; padding: 4px 5px; text-align: center; text-decoration: none; }
.tabAct-Text { color: #000033; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; text-decoration: none; }
.tabAct-Text:visited { color: #000033; text-decoration: none; }
.tabAct-Text:hover { color: #003366; text-decoration: none; }
.tabDef /* Default Tab */{ background-color: #003366; background-image:  url(../images/n_DefTab.gif); background-repeat: no-repeat; border-bottom-style: none; border-bottom-width: 1px; border-left-color: #003366; border-left-style: solid; border-left-width: 1px; border-right-color: #99B4DF; border-right-style: solid; border-right-width: 1px; border-top-style: none; border-top-width: 1px; margin: 2px 5px; padding: 2px 4px 4px 2px; text-align: center; text-decoration: none; }
.tabDef-Text { color: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; text-decoration: none; }
.tabDef-Text:visited { color: #FFFFFF; text-decoration: none; }
.tabDef-Text:hover { color: #FFFFCC; text-decoration: none; }
.tabSel /* Selected Tab */{ background-color: #FFFFCC; background-image:  url(../images/n_SelTab2.gif); background-repeat: no-repeat; border-bottom-style: none; border-bottom-width: 1px; border-left-color: #003366; border-left-style: solid; border-left-width: 1px; border-right-color: #003366; border-right-style: none; border-right-width: 1px; border-top-style: none; border-top-width: 1px; margin: 5px; padding: 5px; text-align: center; text-decoration: none; }
.tabSel-Text { background-image: none; color: #000033; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; text-decoration: none; }
.tabSel-Text:hover { color: #003366; text-decoration: none; }
/* .tabSel-Text:visted { color: #003366; text-decoration: none; } */

/* Task Panels */
.taskpanHead { background-color: #003366; border-bottom-color: #003366; border-bottom-style: solid; border-bottom-width: 1px; border-left-color: #003366; border-left-style: solid; border-left-width: 1px; border-right-color: #FFFFFF; border-right-style: solid; border-right-width: 1px; border-top-color: #003366; border-top-style: solid; border-top-width: 1px; color: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; margin: 2px; padding: 2px; text-decoration: none; }
.taskpanHead0 { background-color: #003366; border-bottom-color: #003366; border-bottom-style: solid; border-bottom-width: 1px; border-left-color: #003366; border-left-style: solid; border-left-width: 1px; border-right-color: #FFFFFF; border-right-style: solid; border-right-width: 1px; border-top-color: #003366; border-top-style: solid; border-top-width: 1px; color: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; margin: 2px; padding: 2px; text-decoration: none; }
.taskpanHead1 /* Task left/middle area */ { background-color: #003366; border-bottom-color: #003366; border-bottom-style: solid; border-bottom-width: 1px; border-left-color: #003366; border-left-style: solid; border-left-width: 1px; border-right-color: #FFFFFF; border-right-style: solid; border-right-width: 1px; border-top-color: #003366; border-top-style: solid; border-top-width: 1px; color: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; margin: 2px; padding: 2px; text-decoration: none; }
.taskpanHead2 /* Task right area */{ background-color: #003366; border-bottom-color: #003366; border-bottom-style: solid; border-bottom-width: 1px; border-left-color: #003366; border-left-style: solid; border-left-width: 1px; border-right-color: #003366; border-right-style: solid; border-right-width: 1px; border-top-color: #003366; border-top-style: solid; border-top-width: 1px; color: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; margin: 2px; padding: 2px; text-decoration: none; }
.taskpanBody0 { background-color: #EFF0F1; border-bottom-color: #003366; border-bottom-style: solid; border-bottom-width: 1px; border-left-color: #003366; border-left-style: solid; border-left-width: 1px; border-right-color: #003366; border-right-style: solid; border-right-width: 1px; border-top-color: #003366; border-top-style: solid; border-top-width: 1px; margin: 0px; padding: 0px; text-decoration: none; }
.taskpanBody1 { background-color: #EFF0F1; border-bottom-color: #000000; border-bottom-style: solid; border-bottom-width: 1px; border-right-color: #003366; border-right-style: solid; border-right-width: 1px; border-top-color: #003366; border-top-style: solid; border-top-width: 1px; margin: 0px; padding: 0px; text-decoration: none; }
.taskpanBody2 { background-color: #EFF0F1; border-bottom-color: #003366; border-bottom-style: solid; border-bottom-width: 1px; border-left-color: #003366; border-left-style: solid; border-left-width: 1px; border-right-color: #FFFFFF; border-right-style: solid; border-right-width: 1px; border-top-color: #003366; border-top-style: solid; border-top-width: 1px; margin: 0px; padding: 0px; text-decoration: none; }
.taskpanList { border-bottom-color: #CDCDDC; border-bottom-style: solid; border-bottom-width: 1px; color: #003366; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; margin: 2px; padding: 2px; text-decoration: none; }
.taskpanListSel { background-color: #FFCC00; border: 1px solid #333333; color: #003366; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bolder; margin: 2px; padding: 2px; text-decoration: none; }

/* Text Formatting */
.textLarge { color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; }
.textLink { font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: underline; }
.textNorm { color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; }
.textSm { color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; }
.textSm-lineLeft {font-weight: normal; font-size: 10px; color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; border-left-width: 1px; border-left-style: solid; border-left-color: #003366; }
.neg {color: #FF0000;}

/* Global Page Elements */
.titlePage { border-bottom-color: #003366; border-bottom-style: solid; border-bottom-width: 1px; color: #000033; font-family: Arial, Helvetica, sans-serif; font-size: 22px; font-weight: bold; text-decoration: none; }
.ftLine { border-bottom-color: #003366; border-bottom-style: solid; border-bottom-width: 1px; border-left-color: #003366; border-right-color: #003366; border-top-color: #003366; }
.sscHead { color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none; }
.sscHeadBack { background-color: #CCCCCC; border-bottom: 1px solid #003366; border-left: 1px none #003366; border-right: 1px none #003366; border-top: 1px solid #003366; text-decoration: none; }
.infoFocus { border: 2px solid #FFCC00; color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; font-weight: bold; margin: 2px; padding: 2px; }
.gNav {	text-decoration: none;	color: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 11px;	font-weight: bold;}

/* Status Bar */
.statusBar { background-color: #CCCC99; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000; text-decoration: none; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: none; border-right-style: solid; border-bottom-style: solid; border-left-style: none; border-top-color: #003366; border-right-color: #CCCCCC; border-bottom-color: #CCCCCC; border-left-color: #CCCCCC; margin: 2px 20px 2px 2px; padding: 2px 20px 2px 2px; background-attachment: fixed; background-image: url(../images/statusback_def_A.gif); background-repeat: no-repeat; background-position: right top; }
.statusBarSelect { background-color: #6699CC; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #000000; text-decoration: none; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: none; border-right-style: solid; border-bottom-style: solid; border-left-style: none; border-top-color: #003366; border-right-color: #CCCCCC; border-bottom-color: #CCCCCC; border-left-color: #CCCCCC; margin: 2px 20px 2px 2px; padding: 2px 20px 2px 2px; background-attachment: fixed; background-image: url(../images/statusback_sel_A.gif); background-repeat: no-repeat; background-position: right top; }
.statustext { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; color: #000000; margin-right: 15px; padding-right: 15px; }
.homeQL {
	background-color: #FFCC00;
	background-image: url(/media/images/homeQlBack.gif);
	background-position: left bottom;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 20px;
}
.homeAMRmid {
background-color: #FFFFFF; border-bottom-color: #000000; border-bottom-style: solid; border-bottom-width: 1px; border-right-color: #003366; border-right-style: solid; border-right-width: 1px; border-top-color: #003366; border-top-style: solid; border-top-width: 1px; margin: 2px; text-decoration: none;
}
.homeAMRLeft {
background-color: #FFFFFF; border-bottom-color: #003366; border-bottom-style: solid; border-bottom-width: 1px; border-left-color: #003366; border-left-style: solid; border-left-width: 1px; border-right-color: #003366; border-right-style: solid; border-right-width: 1px; border-top-color: #003366; border-top-style: solid; border-top-width: 1px; margin: 2px; text-decoration: none;
}
.homeInvStratHead {
background-color: #006633; border-bottom-color: #006633; border-bottom-style: solid; border-bottom-width: 1px; border-left-color: #006633; border-left-style: solid; border-left-width: 1px; border-right-color: #006633; border-right-style: solid; border-right-width: 1px; border-top-color: #006633; border-top-style: solid; border-top-width: 1px; color: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; margin: 2px; padding: 2px; text-decoration: none;
}
.readPicBak {
	padding: 5px 5px 2px;
}
.readPicCapt {
	padding: 2px 5px 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;

}
/* Site Map */
#sitemap {
	background:#FFFFFF;
	font-size:80%;
	line-height:normal;
	width: 260px;
	padding:0 0 0 0px;
	float: left;
	clear: both;
	border: 1px solid #003366;
	margin-bottom: 10px;

}
#sitemap a {
	color:#003366;
	font-family:Verdana, Helvetica, sans-serif;
	text-decoration:none;
	font-weight:bold;
	float: left;
	clear: both;
	padding-top: 2px;
	width: 260px;
	text-align: left;
	vertical-align: middle;
	padding-bottom: 2px;
	padding-left: 2px;
	background-color: #FFFFFF;

}
#sitemap a:hover {
	text-decoration: underline;

}
#sitemap #tier1{

	background:#003366;
	color:#FFFFFF;
	font-weight: bold;
	clear: left;
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 260px;
	padding-left: 2px;
	font-size: 12px;
}
#sitemap #tier3 {
	background:#FFFFFF;
	clear: left;
	float: left;
	padding-top: 2px;
	padding-bottom: 2px;
	width: 175px;
	padding-left: 25px;
	font-size: 10px;
}
#header #contract {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	float: left;
	padding-left: 2px;
	padding-right: 20px;
}
#header #product {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	padding-bottom: 2px;
	width: 336px;


}
#header #custView {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-align: right;
	padding-right: 5px;
	width: 220px;

}
#cioTable {

	width: 731px;
	margin: 0px;
	background-color: #eff0f1;
}
#cioTable #colSubj {
	width: 11%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	vertical-align: top;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 3px;

}
#cioTable #colDesc {
	width: 22%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	vertical-align: top;
	padding-top: 3px;
	padding-bottom: 3px;
}
#cioHeader {

	background-color: #cdcddc;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #003366;
	padding-top: 3px;
	padding-bottom: 2px;
	width: 731px;
}
#cioHeader #contract {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding-left: 2px;
	width: 168px;

}
#cioHeader #product {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	padding-bottom: 2px;
	width: 336px;

}
#cioHeader #custView {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-align: right;
	padding-right: 5px;
	width: 225px;

}
#cioTable #pensCol1 {
	width: 6%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	background-color: #eff0f1;
	vertical-align: top;
	padding-top: 3px;
	padding-left: 3px;
	padding-bottom: 3px;
}
#cioTable #pensCol2 {
	width: 35%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	background-color: #eff0f1;
	vertical-align: top;
	padding-top: 3px;
	padding-left: 3px;
	padding-bottom: 3px;
}
#cioTable #pensCol3 {
	width: 8%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	background-color: #eff0f1;
	vertical-align: top;
	padding-top: 3px;
	padding-left: 3px;
	padding-bottom: 3px;
}
#cioTable #pensCol4 {
	width: 14%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	background-color: #eff0f1;
	vertical-align: top;
	padding-top: 3px;
	padding-left: 3px;
	padding-bottom: 3px;
}
#cioTable #pensCol5 {
	width: 11%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	background-color: #eff0f1;
	vertical-align: top;
	padding-top: 3px;
	padding-left: 3px;
	padding-bottom: 3px;
}
#cioTable #pensCol6 {
	width: 26%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	background-color: #eff0f1;
	vertical-align: top;
	padding-top: 3px;
	padding-left: 3px;
	padding-bottom: 3px;
}

/* Morningstar Fund Profile/Information Section */

#fundProfileTable {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #FFFFFF;
	width: 731px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	text-align: left;


}
#fundProfileTable #barOn {
	background-color: #EFF0F1;
}
#fundProfileTable th {
	font-weight: bold;
}
#fundProfileTable #col1 {
	width: 45%;
	background-color: #CDCDDC;
	font-weight: bold;
}
#fundProfileTable #col2 {
	width: 20%;
	background-color: #CDCDDC;
	font-weight: bold;
	margin: 0px;
}
#fundProfileTable #col3 {
	width: 20%;
	background-color: #CDCDDC;
	font-weight: bold;
	margin: 0px;
}
#fundProfileTable #col4 {
	width: 15%;
	background-color: #CDCDDC;
	font-weight: bold;
}

#fundProfileTable #assetHeader {
	font-weight: bold;
	text-align: left;
	font-size: 12px;
	color: #FFFFFF;
	background-color: #003366;
}

#fundProfileTable a {
	text-decoration: underline;
}

#tablist{
	margin-left: 0px;
	margin-bottom: 0px;
	font: bold 8pt Verdana, Arial, Helvetica, sans-serif;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #003366;
	margin-top: 0px;
	margin-right: 0px;
	height: 16px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#tablist ul{
margin: 0 0 0 0px; border: none; display: block;	padding-top: 0;	padding-right: 0; padding-bottom: 0; padding-left: 0px;
}
#tablist li{
	list-style: none;
	display: inline;
	margin: 0px;
	padding-top: 3px;
	padding-right: 0px;
	padding-left: 0px;
}

#tablist li a{
	text-decoration: none;
	margin-left: -5px;
	margin-right: 0px;
	border: 1px solid #778;
	border-bottom: none;
	background: #CDCDDC;
	color: #003366;
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 6px;
	padding-left: 6px;
	border-bottom-color: #003366;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: #EFF0F1;
	border-left-style: solid;
	border-left-width: 2px;
	border-right-color: #003366;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: #EFF0F1;
	border-top-style: solid;
	border-top-width: 2px;
	height: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
}
 /* netscape-Opera-Mozilla fix */ html>body #tablist li a { width: auto; margin: 0px -5px 0px 0px; padding: 3px 10px; }

#tablist li a:hover{
	text-decoration: underline;
}

#tablist li a.current{
	background: #003366;
	color: #FFFFFF;
	border-bottom-color: #003366;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: #006699;
	border-left-style: solid;
	border-left-width: 2px;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: #006699;
	border-top-style: solid;
	border-top-width: 2px;
	text-align: center;
}
#tabcontentcontainer{
	width:441px;
	height:40px;
}
.tabcontent{
	display:none;
}